@import "compass";
@import "compass/reset";
@import "susy";

/* Variables - Breakpoints */
$bp-s: 768px;

$font-color: #000;
$font-weight: bolder;

/* Responsive Fonts and Leadings */
$headlineText-font-sizes: (
  null  : 20px,
  //480px : 24px,
  768px : 40px,
  896px : 42px,
  1024px: 44px
);
$headlineText-line-height: (
  null  : 26px,
  //480px : 30px,
  768px : 46px,
  896px : 48px,
  1024px: 50px
);
$headlineText-padding: (
  null  : 0px 0px,
  //480px : 4px 8px,
  768px : 6px 10px,
  896px : 7px 11px,
  1024px: 8px 12px
);

$subheadlineText-font-sizes: (
  null  : 20px,
  //480px : 24px,
  768px : 20px,
  896px : 22px,
  1024px: 24px
);
$subheadlineText-line-height: (
  null  : 20px,
  //480px : 30px,
  768px : 20px,
  896px : 22px,
  1024px: 24px
);
$subheadlineText-padding: (
  null  : 0px 0px,
  //480px : 4px 8px,
  768px : 6px 10px,
  896px : 7px 11px,
  1024px: 8px 12px
);

$overlay-button-font-sizes: (
  null  : 8px,
  //480px : 9px,
  768px : 12px,
  896px: 14px,
  1024px: 16px
);
$suboverlay-button-font-sizes: (
  null  : 9px,
  //480px : 9px,
  768px : 10px,
  896px: 11px,
  1024px: 12px
);

/* Mixins */

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

@mixin line-height($fs-map) {
  @each $fs-breakpoint, $fs-line-height in $fs-map {
    @if $fs-breakpoint == null {
      line-height: $fs-line-height;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        line-height: $fs-line-height;
      }
    }
  }
}

@mixin text-padding($fs-map) {
  @each $fs-breakpoint, $fs-padding in $fs-map {
    @if $fs-breakpoint == null {
      padding: $fs-padding;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        padding: $fs-padding;
      }
    }
  }
}

$susy: (
  columns: 12,
  gutters: 0,
  //padding: 10px;
  global-box-sizing: border-box
); 


@include border-box-sizing;

// Standard view
ul.heroList {
    @include clearfix;
    list-style: none;

    li {
        @include span(4);
        margin-bottom: 0;
        overflow: hidden;
        img {
          transform: scale(1.5);
          transform-origin: bottom right;
        }
        .holder {
        	position: relative;
        }
        .overlay{
            position:absolute;
            top:10px;
            text-align: left;
            left:10px;
            font : {
		      family: Helvetica, sans-serif;
		      decoration: none;
		      color:$font-color; 
		      weight:$font-weight;
		    }
	        @include font-size($subheadlineText-font-sizes);
	        @include line-height($subheadlineText-line-height);
	        @include text-padding($headlineText-padding);
            
            .headlineText{
              background: #FFF;
              word-spacing: 9999999px;
              text-transform: uppercase;
              box-shadow: 8px 0 0 #ffffff,-8px 0 0 #ffffff;
              //text-align: left;
            
            }
            .overlay-button{
              font-color:#FFF;
              max-width: 100%;
              text-align: center;
              margin-top:3%;
              padding:6px 1px;
              @include font-size($suboverlay-button-font-sizes);
              color:white;
              text-decoration: none;
              text-transform:uppercase;
              background:#D72B26;
              box-shadow:8px 0 0 #D72B26,-8px 0 0 #D72B26;
              display:inline-block;
            }
        } // end overlay 
        &:first-child {          
            @include span(8);

            .overlay{
            	right:40px;
            	top:20px;
           		text-align: right;
            	.headlineText{
	           	  	@include font-size($headlineText-font-sizes);
	              	@include line-height($headlineText-line-height);
	              	@include text-padding($headlineText-padding);
            	}

            }

            .overlay-button{
	            padding:6px 1px;
	            margin-top:5%;
	            @include font-size($overlay-button-font-sizes);
	        }
        }
    }
}

// Mini view
@media (max-width: $bp-s) {
  ul.heroList {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  ul.heroList li {
    @include span(12);
    img {
      transform: scale(1);
      transform-origin: bottom right;
    }
    .overlay{
    	right:20px;
   		text-align: right;

    	.headlineText{
            font : {
		      family: Helvetica, sans-serif;
		      decoration: none;
		      color:$font-color; 
		      weight:$font-weight;
		      size:24px;
		    }

		    line-height: 24px;

		    .overlay-button{
	            padding:6px 1px;
	            margin-top:5%;
	            font-size:12px;
	        }
    	}

    }
    
    &:first-child {          
        @include span(12);

        .overlay{
	    	right:20px;
	   		text-align: right;

	    	.headlineText{
	            font : {
			      family: Helvetica, sans-serif;
			      decoration: none;
			      color:$font-color; 
			      weight:$font-weight;
			      size:24px;
			    }

			    line-height: 24px;

			    .overlay-button{
		            padding:6px 1px;
		            margin-top:5%;
		            font-size:12px;
		        }
	    	}

    	}
    }
  }
}

